.containe-menu{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.caja-plato-flex{
display: flex;
justify-content: left;
background-color: black;
opacity: 0.8;
width: 900px;
margin: 0px 30px 30px 30px;
color: white;
padding: 30px;
border-radius: 15px;
}

.platoImg{
    width: 100px;
    height: auto;
    margin-right: 50px;
}


